In [10]:
import pandas as pd
data=pd.read_csv(r"/content/passenger_data.csv")

In [12]:
data

   passenger_id            name  age gender destination  ticket_price
0          P001     Usman Rafiq   23      F     Karachi         15677
1          P002    Nimra Shahid   57      M      Lahore         17048
2          P003     Rehan Ahmed   24      M      Quetta         18227
3          P004        Ali Khan   32      M      Lahore         18130
4          P005    Laiba Yousuf   25      F      Lahore         14286
5          P006    Nimra Shahid   33      M      Lahore         11251
6          P007       Hiba Noor   19      M      Lahore         14263
7          P008     Rehan Ahmed   48      M      Lahore         14950
8          P009    Zainab Tariq   49      F      Quetta         18625
9          P010     Sarah Malik   48      F   Islamabad         18658
10         P011      Taha Kamal   38      F   Islamabad         18764
11         P012   Fatima Hassan   59      F   Islamabad         10916
12         P013        Ali Khan   44      M   Islamabad         13008
13         P014     Bilal Aslam   35      F   Islamabad         13098
14         P015     Ayesha Noor   33      M      Quetta         19950
15         P016   Fatima Hassan   59      F      Quetta         11872
16         P017    Ahmed Nadeem   28      M      Lahore         19780
17         P018     Hamza Tariq   43      F      Quetta         16195
18         P019    Nimra Shahid   21      M   Islamabad         13990
19         P020      Sana Javed   46      M    Peshawar         11733
20         P021      Mariam Ali   28      M   Islamabad         12557
21         P022     Ayesha Noor   40      F    Peshawar         15119
22         P023    Ahmed Nadeem   34      M    Peshawar         19636
23         P024     Ayesha Noor   39      F     Karachi         13170
24         P025    Zainab Tariq   54      M    Peshawar         14256
25         P026  Danish Qureshi   54      M   Islamabad         16013
26         P027     Usman Rafiq   40      F     Karachi         13100
27         P028      Iqra Ahmed   24      F     Karachi         10337
28         P029        Ali Khan   30      F      Lahore         14906
29         P030      Taha Kamal   39      F     Karachi         12178
30         P031     Bilal Aslam   26      M      Lahore         10121
31         P032    Zainab Tariq   36      F      Quetta         14157
32         P033      Taha Kamal   42      F      Quetta         14491
33         P034    Zainab Tariq   38      M      Quetta         13896
34         P035    Laiba Yousuf   55      M     Karachi         11739
35         P036    Zainab Tariq   38      F   Islamabad         14565
36         P037      Sana Javed   37      F      Quetta         19157
37         P038        Ali Khan   49      F      Lahore         12729
38         P039    Nimra Shahid   53      F      Quetta         14764
39         P040     Bilal Aslam   40      F      Quetta         18635
40         P041     Zara Sheikh   57      F    Peshawar         15537
41         P042   Fatima Hassan   24      F      Lahore         17680
42         P043       Hiba Noor   49      M     Karachi         11060
43         P044     Hamza Tariq   48      M      Lahore         12424
44         P045      Sana Javed   53      M    Peshawar         15547
45         P046     Bilal Aslam   59      F     Karachi         16730
46         P047      Mariam Ali   41      F     Karachi         12060
47         P048     Usman Rafiq   44      F    Peshawar         11990
48         P049   Fatima Hassan   37      M      Quetta         11219
49         P050      Mariam Ali   28      F     Karachi         16557

In [15]:
data.columns #its Show Columns name

Index(['passenger_id', 'name', 'age', 'gender', 'destination', 'ticket_price'], dtype='object')

In [18]:
Total_passenger=data['passenger_id'].count() # count function count number of passeger id
print(Total_passenger)

50

In [20]:
passengers_destination=data['destination'].value_counts() # same as count function but value_count count number of value according to destinagation
print(passengers_destination)

destination
Lahore       12
Quetta       12
Karachi      10
Islamabad     9
Peshawar      7
Name: count, dtype: int64

In [21]:
average_ticket_price=data.groupby('gender')['ticket_price'].mean() # first we apply group function to group according gender and calculate averge ticket price
print(average_ticket_price)

gender
F    14855.464286
M    14581.727273
Name: ticket_price, dtype: float64

In [28]:

def get_passengers_by_destination(dest):                          # this function takes parameters as destination and in this we check destination according to name
    passengers = data[data['destination'] == dest]['name'].tolist()
    return passengers

def get_highest_paying_passenger():                         # in this function  we calculate highest paid passenger by idxmax()
    highest_paying = data.loc[data['ticket_price'].idxmax()]
    return highest_paying['name'], highest_paying['destination']


print(get_passengers_by_destination('Lahore'))
print(get_highest_paying_passenger())

['Nimra Shahid', 'Ali Khan', 'Laiba Yousuf', 'Nimra Shahid', 'Hiba Noor', 'Rehan Ahmed', 'Ahmed Nadeem', 'Ali Khan', 'Bilal Aslam', 'Ali Khan', 'Fatima Hassan', 'Hamza Tariq']
('Ayesha Noor', 'Quetta')

In [30]:
sorted_passengers = data.sort_values(by='ticket_price', ascending=False) # sort vales use for sorting the data or column
print(sorted_passengers)

top_3_passengers = sorted_passengers.head(3)      # Head use for access number of row
print(top_3_passengers[['name', 'age', 'ticket_price']])

   passenger_id            name  age gender destination  ticket_price
14         P015     Ayesha Noor   33      M      Quetta         19950
16         P017    Ahmed Nadeem   28      M      Lahore         19780
22         P023    Ahmed Nadeem   34      M    Peshawar         19636
36         P037      Sana Javed   37      F      Quetta         19157
10         P011      Taha Kamal   38      F   Islamabad         18764
9          P010     Sarah Malik   48      F   Islamabad         18658
39         P040     Bilal Aslam   40      F      Quetta         18635
8          P009    Zainab Tariq   49      F      Quetta         18625
2          P003     Rehan Ahmed   24      M      Quetta         18227
3          P004        Ali Khan   32      M      Lahore         18130
41         P042   Fatima Hassan   24      F      Lahore         17680
1          P002    Nimra Shahid   57      M      Lahore         17048
45         P046     Bilal Aslam   59      F     Karachi         16730
49         P050      Mariam Ali   28      F     Karachi         16557
17         P018     Hamza Tariq   43      F      Quetta         16195
25         P026  Danish Qureshi   54      M   Islamabad         16013
0          P001     Usman Rafiq   23      F     Karachi         15677
44         P045      Sana Javed   53      M    Peshawar         15547
40         P041     Zara Sheikh   57      F    Peshawar         15537
21         P022     Ayesha Noor   40      F    Peshawar         15119
7          P008     Rehan Ahmed   48      M      Lahore         14950
28         P029        Ali Khan   30      F      Lahore         14906
38         P039    Nimra Shahid   53      F      Quetta         14764
35         P036    Zainab Tariq   38      F   Islamabad         14565
32         P033      Taha Kamal   42      F      Quetta         14491
4          P005    Laiba Yousuf   25      F      Lahore         14286
6          P007       Hiba Noor   19      M      Lahore         14263
24         P025    Zainab Tariq   54      M    Peshawar         14256
31         P032    Zainab Tariq   36      F      Quetta         14157
18         P019    Nimra Shahid   21      M   Islamabad         13990
33         P034    Zainab Tariq   38      M      Quetta         13896
23         P024     Ayesha Noor   39      F     Karachi         13170
26         P027     Usman Rafiq   40      F     Karachi         13100
13         P014     Bilal Aslam   35      F   Islamabad         13098
12         P013        Ali Khan   44      M   Islamabad         13008
37         P038        Ali Khan   49      F      Lahore         12729
20         P021      Mariam Ali   28      M   Islamabad         12557
43         P044     Hamza Tariq   48      M      Lahore         12424
29         P030      Taha Kamal   39      F     Karachi         12178
46         P047      Mariam Ali   41      F     Karachi         12060
47         P048     Usman Rafiq   44      F    Peshawar         11990
15         P016   Fatima Hassan   59      F      Quetta         11872
34         P035    Laiba Yousuf   55      M     Karachi         11739
19         P020      Sana Javed   46      M    Peshawar         11733
5          P006    Nimra Shahid   33      M      Lahore         11251
48         P049   Fatima Hassan   37      M      Quetta         11219
42         P043       Hiba Noor   49      M     Karachi         11060
11         P012   Fatima Hassan   59      F   Islamabad         10916
27         P028      Iqra Ahmed   24      F     Karachi         10337
30         P031     Bilal Aslam   26      M      Lahore         10121
            name  age  ticket_price
14   Ayesha Noor   33         19950
16  Ahmed Nadeem   28         19780
22  Ahmed Nadeem   34         19636

In [31]:

age_threshold = int(input("Enter an age threshold: "))
younger_passengers = data[data['age'] < age_threshold]
print(f"{len(younger_passengers)} passengers are younger than {age_threshold} years old.")

Enter an age threshold: 40
25 passengers are younger than 40 years old.